<table style="background-color: black;">

  <thead>
    <tr>
      <th *ngFor="let head of heads" scope="col">{{head}}</th>
    </tr>
  </thead>

  <tbody>

  


        <tr *ngFor="let cart of carts">
            <td>{{ cart.user?.id }}</td>
          <td>{{ cart.user?.fName + " " + cart.user?.lName}}</td>
         
          <td>{{ cart.room?.catagory }}</td>
          <td>{{cart.roomtype}}</td>
          <td>{{cart.checkin}}</td>
          <td>{{cart.checkout}}</td>
          <td>
            <a (click)=deleteRoom(cart._id,addroomForm)>Delete</a>
          </td>
          
    </tr>


   

  </tbody>


</table><br>