<nav class="navbar navbar-inverse" style="border-radius: 0px">
    <div class="container-fluid">
        <div class="navbar-header">
            <a style="padding: 0px;padding-left: 10%;" class="navbar-brand" routerLink="/home"><img src="../assets/img/logoooo.png"
                    height="50" width="120" /></a>
            
        </div>
        <!-- <a style="padding-left:2%; padding-top:10px" routerLink="/home">HOME</a> -->
        <div class="collapse navbar-collapse" id="myNavbar">

            <ul class="nav navbar-nav navbar-right">

            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>



<footer>
    <div class="col-sm-3">
        <div>
            <p>Contact Us<br><br>
                vilmiclakeinn@gmail.com<br>
                Gregory lake Rd,<br>
                main street<br>
                Nuwara eliya</p>
        </div>
    </div>
    <div class="col-sm-3">
        <div>
            <p>Contact us<br><br>
                +9477 4231010<br>
                +9475 7536296<br>
                +9452 2224535<br>
                +9452 3532488</p>
        </div>
    </div>

    <div class="col-sm-3">
        <div>
            <p>
                INFORMATION<br><br>
                About Hotel<br>
                Work with us<br>
                Privacy policy<br>
                Terms & Conditions
            </p>
        </div>
    </div>

    <div class="col-sm-3">
        <div>
            <p>Subscribe to Vilimic promotions</p>
            <input type="text" placeholder=" E-mail address"
                style="background-color: transparent; height: 10mm; width: 50mm; padding: 0cm ; text-align: left">
            <input type="button" value="subscribe" style="height: 10mm; width: 25mm; text-align: center; padding: 0cm">
        </div>
    </div>
</footer>
